<div class="card">
  <%= link_to image_tag prototype.image,  prototype_path, class: 'card_imag' if prototype.image.attached? %>
  <%# link_to image_tag prototype.image, class: 'card__img' if message.image.attached?  %>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path, class: 'card_title' %>
    <%# link_to "prototype.title", root_path, class 'card__title'%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "by#{prototype.users}", root_path, class: 'card_user' %>
    <%# link_to "by prototype.user", root_path, class 'card__user' %>
  </div>
</div>