<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
       <div class="greeting"> 
        <%= puts "こんにちは、" %>
        <%= link_to current_user.name + "さん" , root_path, class: :greeting__link%>
       </div> 
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'prototype', collection: @prototype %>
    </div>
  </div>
</main>